.l-footer {
  height: 180px;
  background-color: #000;
  color: #fff;
  &__name {
    font-size: 32px;
    padding: 32px 0;
    text-align: center;
    img {
      width: 320px;
    }
  }

  &__social {
    text-align: center;
    &__icon {
      margin: 0 16px;
      display: inline-block;
      width: 32px;
      height: 64;
      img {
        width: 100%;
      }
    }
  }
}