.p-achievements {
  background-color: #f9f9f9;
  padding: 16px 0;
  &__description {
    text-align: center;
  }
  &-contents {
    max-width: 1024px;
    margin: 0 auto;

    &__year {
      font-size: 24px;
      font-weight: bold;
      width: 100px;
      display: inline-block;
      width: 100px;
      vertical-align: top;
      @include mq-down() {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
      }
    }
    &__items {
      display: inline-block;
      width: calc(100% - 120px);
      vertical-align: top;
      ul {
        > li {
          margin-bottom: 16px;
          line-height: 1.5em;
          > ul {
            margin-left: 30px;
          }
        }
      }
      @include mq-down() {
        box-sizing: border-box;
        padding: 0 32px;
        float: none;
        width: 100%;
      }
    }
  }
}